MSU Grades CSV Analysis

In [5]:
import pandas as pd

In [6]:
file_path = 'MSU_Grades.csv'
df = pd.read_csv(file_path)
df.head()

,TERM_DESCRSHORT,SUBJECT,CRSE_CODE,CLASS_SECTION,COURSE_TITLE_DESCR,INSTRUCTOR,GRADE,GRADE_COUNT
0,FS23,AAAS,100,1,Pathways into AAAS,"Brown,Ruth Nicole | Hayes,Robin",2.5,5
1,FS23,AAAS,100,1,Pathways into AAAS,"Brown,Ruth Nicole | Hayes,Robin",3,1
2,FS23,AAAS,100,1,Pathways into AAAS,"Brown,Ruth Nicole | Hayes,Robin",4,30
3,FS23,AAAS,100,1,Pathways into AAAS,"Brown,Ruth Nicole | Hayes,Robin",CR,1
4,FS23,AAAS,100,2,Pathways into AAAS,"Brown,Ruth Nicole | Hayes,Robin",2.5,3

In [23]:
def get_course_info(subject, class_code):
    # Filter the DataFrame based on the given parameters
    course_info = df[(df['SUBJECT'] == subject) & (df['CRSE_CODE'] == class_code)]

    # Check if there are any rows matching the criteria
    if course_info.empty:
        return "No information available for the specified class."

    # Filter out non-numeric grades
    numeric_grades = pd.to_numeric(course_info['GRADE'], errors='coerce')

    # Calculate the average grade for all sections
    average_grade = numeric_grades.mean()

    # Get other relevant information (course title and instructors)
    course_title = course_info['COURSE_TITLE_DESCR'].iloc[0]  # Assuming it's the same for all sections
    instructors = course_info['INSTRUCTOR'].unique()

    # Return the information
    return {
        'COURSE_TITLE_DESCR': course_title,
        'INSTRUCTORS': instructors,
        'AVERAGE_GRADE': average_grade
    }

In [28]:
# Example usage
subject = 'CSE'
class_code = '102'

course_info = get_course_info(subject, class_code)
print(course_info)

{'COURSE_TITLE_DESCR': 'Algorithmic Thinking/Progrming', 'INSTRUCTORS': array(['Anderson,Yolanda M | Lovell,Tyler James | Wulfekuhler,Marilyn'],
      dtype=object), 'AVERAGE_GRADE': 2.2264957264957266}